/* ------------------------------------------------------------
   MOBILE OVERRIDES (Only changing the core multipliers)
   ------------------------------------------------------------ */
@media (max-width: 768px) {
    :root {
        --type-scale: 1.30;
        --type-start-rem: 0.8rem;
        --type-start-vw: 0.8vw;
        --base-line-height: 1.2;

        --body-scale: 1.222;
        --body-start-rem: 0.714rem;
        --body-start-vw: 0.714vw;
        --base-body-line-height: 1.5;
    }
}

