/*  

  POSITION

*/

@import "../Media/media";

:root {
  
}

$limit: 20;
$position: (
  static, 
  relative, 
  absolute, 
  fixed, 
  sticky, 
  auto
);
$inset: (
  top-left: 0% auto auto 0%,
  top-right: 0% 0% auto auto,
  bottom-left: auto auto 0% 0%,
  bottom-right: auto 0% 0% auto,
  stretch-left: 0% auto 0% 0%,
  center-left: auto auto auto 0%,
  stretch-right: 0% 0% 0% auto,
  center-right: auto 0% auto auto,
  bottom-stretch: auto 0% 0%,
  bottom-center: auto auto 0% auto,
  top-stretch: 0% 0% auto 0%,
  stretch: 0%,
  center: auto auto auto auto
);
$dirs: ( 
  '': '',
  x: inline,
  y: block,
  t: top,
  r: right,
  b: bottom,
  l: left
);

@mixin position($modifier: '') {
  @each $label in $position {
    .#{$modifier}#{$label} {
      position: #{$label};
    }
  }
}

@mixin inset() {
  @each $label, $value in $inset {
    &__#{$label} {
      inset: #{$value};
    }
  }
}

@mixin inset_scale($props, $var: spacing, $min: 1, $max: $limit) {
  @each $label, $dir in $dirs {
    @if($label == '') {
      $neg: 1;
      @for $i from $min through $max {
        @if($i < 0) {
          $neg: -1;
        } 
        &__#{$neg*$i} {
          @each $prop in $props {
            #{$prop}: calc(#{$i} * var(--#{$var}));
          }
        }
      } 
    } @else {
      $neg: 1;
      @for $i from $min through $max {
        @if($i < 0) {
          $neg: -1;
        } 
        &-#{$label}__#{$neg*$i} {
          @each $prop in $props {
              #{$prop}-#{$dir}: calc(#{$i} * var(--#{$var}));
          }
        }
      } 
    }
  }
}

@mixin spacing_scale($props, $var: spacing, $min: 0, $max: $limit) {
  @each $label, $dir in $dirs {
    @if($label == '') {
      $neg: 1;
      @for $i from $min through $max {
        @if($i < 0) {
          $neg: -1;
        } 
        &__#{$neg*$i} {
          @each $prop in $props {
            #{$prop}: calc(#{$i} * var(--#{$var}));
          }
        }
      } 
      @for $j from 1 through 9 {
        &__0#{$j} {
          @each $prop in $props {
            #{$prop}: calc(#{$neg*$j/10} * var(--#{$var}));
          }
        }
      } 
    } @else {
      $neg: 1;
      @for $i from $min through $max {
        @if($i < 0) {
          $neg: -1;
        } 
        &-#{$label}__#{$neg*$i} {
          @each $prop in $props {
              #{$prop}-#{$dir}: calc(#{$i} * var(--#{$var}));
          }
        }
      } 
      @for $j from 1 through 9 {
        &-#{$label}__0#{$j} {
          @each $prop in $props {
            #{$prop}-#{$dir}: calc(#{$neg*$j/10} * var(--#{$var}));
          }
        }
      } 
    }
  }
}

@mixin z {
  @for $i from 0 through 20 {
    &#{$i} {
      z-index: #{$i};
    }
  } 
}

@each $modifier , $breakpoint in $map-grid-props {
  @if($modifier == '') {
    @include position;
    .inset {
      @include inset;
    }
    .top {
      @include spacing_scale( ( top ), spacing, 0, 20 );
    }
    .-top {
      @include spacing_scale( ( top ), spacing, -10, -1 );
    }
    .left {
      @include spacing_scale( ( left ), spacing, 0, 20 );
    }
    .-left {
      @include spacing_scale( ( left ), spacing, -10, -1 );
    }
    .bottom {
      @include spacing_scale( ( bottom ), spacing, 0, 20 );
    }
    .-bottom {
      @include spacing_scale( ( bottom ), spacing, -10, -1 );
    }
    .right {
      @include spacing_scale( ( right ), spacing, 0, 20 );
    }
    .-right {
      @include spacing_scale( ( right ), spacing, -10, -1 );
    }
    .z, [style*='--z:'] {
      z-index: var(--z);
    }
    .z__ {
      @include z;
    }
  } @else {
    @include create-mq($breakpoint, 'max') {
      @include position(#{$modifier}\:);
      .#{$modifier}\:inset {
        @include inset;
      }
      .#{$modifier}\:top {
        @include spacing_scale( ( top ), spacing, 0, 20 );
      }
      .#{$modifier}\:-top {
        @include spacing_scale( ( top ), spacing, -10, -1 );
      }
      .#{$modifier}\:left {
        @include spacing_scale( ( left ), spacing, 0, 10 );
      }
      .#{$modifier}\:-left {
        @include spacing_scale( ( left ), spacing, -10, -1 );
      }
      .#{$modifier}\:bottom {
        @include spacing_scale( ( bottom ), spacing, 0, 20 );
      }
      .#{$modifier}\:-bottom {
        @include spacing_scale( ( bottom ), spacing, -10, -1 );
      }
      .#{$modifier}\:right {
        @include spacing_scale( ( right ), spacing, 0, 10 );
      }
      .#{$modifier}\:-right {
        @include spacing_scale( ( right ), spacing, -10, -1 );
      }
      .#{$modifier}\:z, .#{$modifier}\:[style*='--mobile-z:'] {
        z-index: var(--z);
      }
      .#{$modifier}\:z__ {
        @include z;
      }

    }
  }
}

.middle {
  top: calc(100vh - 50%);
}